/* logo */
.content{
    display: flex;
    flex: content;
    justify-content: center;
}
.decription{
    /* height: 600px; */
    background-color: rgb(157, 239, 239);
    display: flexbox;
    flex-wrap: inherit;
 }
 .logo{
     margin-top: 30px;
     margin-left: 30px;
 }
 .logo img{
    height: 60px;
    width: 212px;
 }